{
  "extends": ["next", "next/core-web-vitals", "eslint:recommended"],
  "rules": {
    "no-unused-vars": [0, { "args": "after-used" }],
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "import/no-anonymous-default-export": 0
  }
}
