@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

::selection {
  background-color: #6ffcb8;
  color: #1e1919;
}
/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  display: table;
}

.capsize::after {
  display: table;
}

.autocomplete {
  @apply block w-full rounded-md border border-gray-200 bg-white text-gray-800 focus:text-orange-600 dark:border-gray-900 dark:bg-gray-800 dark:text-gray-100;
}

.nav-link {
  @apply items-center transition-all delay-100  hover:text-orange-600 dark:hover:text-green-400;
}

.skip-nav {
  @apply absolute -left-1/4 -top-8 -translate-y-12 transform px-4 py-3 transition-transform duration-200 focus:top-4 focus:translate-y-3;
}

.gradient-header {
  @apply bg-gradient-to-r from-orange-300 to-red-800 bg-clip-text tracking-tight text-transparent dark:bg-gradient-to-l dark:from-emerald-500 dark:to-lime-600;
}

.animated {
  @apply transition-all delay-100;
}

.post-header-link {
  @apply text-gray-800 transition-all  delay-100 hover:text-orange-600 dark:text-gray-200 dark:hover:text-green-400;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

/*Post styling comes here */

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose blockquote p {
  margin: 16px 0px;
}

.prose blockquote {
  border-left: 4px solid #ebebeb;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.prose strong {
  @apply font-semibold text-orange-600 dark:text-green-400;
}

.prose em {
  @apply text-lg font-medium text-orange-600 dark:text-green-400;
}
.prose img {
  @apply rounded-lg;
}

.prose h3 {
  @apply py-4 text-3xl font-semibold text-orange-600 dark:text-green-400;
}

.prose h4 {
  @apply py-3 text-2xl font-medium text-orange-600 dark:text-green-400;
}

.prose h5 {
  @apply py-2 text-lg font-medium text-orange-600 dark:text-green-400;
}

.prose p {
  @apply py-2 text-stone-800 dark:text-stone-200;
}

.prose > p:first-of-type:first-letter {
  @apply text-2xl font-semibold;
}

.prose > p:first-child {
  @apply mt-4;
}

.prose > :last-child {
  margin-bottom: 2em !important;
}

/* .prose p > :first-child {
  @apply py-6;
} */

.prose > ul {
  @apply py-6;
}

.prose > ul > li {
  @apply list-inside list-disc py-2 pl-4 leading-8 text-stone-800 dark:text-stone-200;
}

.prose > ol {
  @apply py-6;
}

.prose > ol > li {
  @apply list-inside list-decimal py-2 pl-4 leading-8 text-stone-800 dark:text-stone-200;
}
